.unformatted-link {
    text-decoration: none;
    color: black;
}

.home-profile-shortcut {
    margin-top: 2%;
    border-radius: 25px;
    width: 50%;
    background-color: #d6d6d6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
}

.home-profile-shortcut:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}